# macOS
.DS_Store
**/.DS_Store

# Python cache/bytecode
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv/
venv/
env/

# Packaging
build/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
*.egg

# Tooling caches
.pytest_cache/
.mypy_cache/
.nox/
.tox/
.ruff_cache/
.coverage
.coverage.*
coverage.xml
htmlcov/

# Editors/IDEs
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log


